# Exploring U.S. Births Project

### Checking directory for files

In [1]:
!ls

Basics.ipynb                     U.S. Births Project.ipynb
Births.ipynb                     US_births_1994-2003_CDC_NCHS.csv
README.md                        US_births_2000-2014_SSA.csv

### Reading US Births File in as a String To Data Variable

In [2]:
f = open('US_births_1994-2003_CDC_NCHS.csv', 'r')

In [3]:
data = f.read()

In [4]:
data[0:100]

'year,month,date_of_month,day_of_week,births\r1994,1,1,6,8096\r1994,1,2,7,7772\r1994,1,3,1,10142\r1994,1,'

### Splitting Data String on New Line Character '\n' or '\r'

In [5]:
data = data.split('\r')

### The Columns in this Data Set are Year, Month, Day of Month, Day of Week, and Births

### Displaying First Few Lines of Data

In [6]:
data[0:5]

['year,month,date_of_month,day_of_week,births',
 '1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248']

### Removing the Header Row

In [7]:
data = data[1:]

### Displaying Data without the Header

In [8]:
data[0:5]

['1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053']

### Initializing an Empty List

In [9]:
final_list = []                        ### Initializing an empty list to contain all rows from data as integers

### Splitting Rows into Integer Column Data Using For Loop, the .split and .append Commands

In [10]:
for row in data:                       ### Looping through rows of data
    string_fields = row.split(',')     ### Spliting each row with the ',' delimiter
    int_field = []                     ### Initializing and resetting an empty list to store str to int columns
    for sf in string_fields:           ### Looping through the 5 columns of string data
        int_sf = int(sf)               ### Converting the column string data to integers   
        int_field.append(int_sf)       ### Building a new row of strings to ints   
    final_list.append(int_field)       ### Adding the completed row of strings to ints to final_list

### Displaying First Few Rows of data

In [11]:
final_list[0:5]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053]]

### Confirming data are integers

In [12]:
type(final_list[0][3])

int

### Building the Above Process into One Function Read_Csv()

In [13]:
def Read_Csv(filename):
    
    final_list = []
    
    data = open(filename, 'r').read().split('\r')[1:] ### Reading in file and removing header
    for row in data:                          ### Looping through rows of data
        string_fields = row.split(',')        ### Spliting each row with the ',' delimiter
        int_field = []                        ### Initializing and resetting an empty list to store str to int columns
        for sf in string_fields:              ### Looping through the 5 columns of string data
            int_sf = int(sf)                  ### Converting the column string data to integers   
            int_field.append(int_sf)          ### Building a new row of strings to ints   
        final_list.append(int_field)
    
    return final_list

### Displaying the First Few Lines of Data

In [14]:
Read_Csv('US_births_1994-2003_CDC_NCHS.csv')[0:5]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053]]

### Creating a Function to Calculate the Number of Births Per Month Using For a Loop and Dictionary

In [17]:
def month_births(lizt):                         ### Function takes in a list
    births_per_month = {}                       ### Initializing an empty dictionary to count births per month
    for row in lizt:                            ### Looping through rows
        if row[1] in births_per_month:          ### If the month is already in the dictionary key, then
            births_per_month[row[1]] += row[4]  ### add the births of that day into that month key
        else:
            births_per_month[row[1]] = row[4]   ### else assign the births values that day to the month key
            
    return births_per_month                     ### return the month_births dictionary

### Total Births Per Month Dictionary...the Key is the Month. The Value is the number of Births that Month

In [18]:
cdc_months_birth = month_births(final_list)
cdc_months_birth

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

### Creating a Function To Calculate the Number of Births Per Day of Week

In [19]:
def dow_births(lizt):                           ### Function takes in a list
    dow_births = {}                             ### Initializing an empty dictionary to count day of week births
    for row in lizt:                            ### Looping through rows
        if row[3] in dow_births:                ### If the day of week is already in the dictionary key, then
            dow_births[row[3]] += row[4]        ### add the births of that day into that day of week key
        else:
            dow_births[row[3]] = row[4]         ### else assign the births values to that day to the week key
            
    return dow_births

### Total Births Per Day of Week Dictionary...the Key is the Day of the Week. The value is the Number Births

In [155]:
cdc_day_births = dow_births(final_list)
cdc_day_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4554015,
 7: 4079723}

### Creating a More Flexible Function To Group Births Per Unit of Time By

In [20]:
def calc_count(data, column):                    ### data is 4 time columns and 1 births column, column is the column number
    column_births = {}                           ### column births is the dictionary by which to group by
    for row in data:                             ### looping through rows
        if row[column] in column_births:         ### Using the column number as the keys to the dictionary
            column_births[row[column]] += row[4] ### if the column is in the dict.keys then add the births
        else:
            column_births[row[column]] = row[4]  ### if the column isn't in the dict.keys assign the births value
    
    return column_births                         ### return the column birth dictionary

### Using the Calc_count Function to Calculate Births Per Year

In [21]:
calc_count(final_list, 0)

{1994: 3952767,
 1995: 3899589,
 1996: 3891494,
 1997: 3880894,
 1998: 3941553,
 1999: 3959417,
 2000: 4058814,
 2001: 4025933,
 2002: 4021726,
 2003: 4089950}

### Using the Calc_count Function to Calculate Births Per Month

In [23]:
calc_count(final_list, 1)

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

### Using the Calc_count Function to Calculate Births Per Date of Month

In [25]:
calc_count(final_list, 2)

{1: 1276557,
 2: 1288739,
 3: 1304499,
 4: 1288154,
 5: 1299953,
 6: 1304474,
 7: 1310459,
 8: 1312297,
 9: 1303292,
 10: 1320764,
 11: 1314361,
 12: 1318437,
 13: 1277684,
 14: 1320153,
 15: 1319171,
 16: 1315192,
 17: 1324953,
 18: 1326855,
 19: 1318727,
 20: 1324821,
 21: 1322897,
 22: 1317381,
 23: 1293290,
 24: 1288083,
 25: 1272116,
 26: 1284796,
 27: 1294395,
 28: 1307685,
 29: 1223161,
 30: 1202095,
 31: 746696}

### Using the Calc_count Function  to Calculate Births Per Day of Week

In [26]:
calc_count(final_list, 3)

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

In [169]:
!git add 'U.S. Births Project.ipynb', 'US_births_1994-2003_CDC_NCHS.csv', 'US_births_2000-2014_SSA.csv'

fatal: pathspec 'U.S. Births Project.ipynb,' did not match any files