# Exploring U.S. Births Project

### Checking directory for files

In [1]:
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
!ls

Basics.ipynb                     US_births_1994-2003_CDC_NCHS.csv
Births.ipynb                     US_births_2000-2014_SSA.csv
README.md                        Untitled.ipynb
U.S. Births Project.ipynb

### Reading US Births File in as a String To Data Variable

In [3]:
f = open('US_births_1994-2003_CDC_NCHS.csv', 'r')

In [4]:
data = f.read()

In [5]:
data[0:100]

'year,month,date_of_month,day_of_week,births\r1994,1,1,6,8096\r1994,1,2,7,7772\r1994,1,3,1,10142\r1994,1,'

### Splitting Data String on New Line Character '\n' or '\r'

In [6]:
data = data.split('\r')

### The Columns in this Data Set are Year, Month, Day of Month, Day of Week, and Births

### Displaying First Few Lines of Data

In [7]:
data[0:5]

['year,month,date_of_month,day_of_week,births',
 '1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248']

### Removing the Header Row

In [8]:
data = data[1:]

### Displaying Data without the Header

In [9]:
data[0:5]

['1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053']

### Initializing an Empty List

In [10]:
final_data = []                        ### Initializing an empty list to contain all rows from data as integers

### Splitting Rows into Integer Column Data Using For Loop, the .split and .append Commands

In [11]:
for row in data:                       ### Looping through rows of data
    string_fields = row.split(',')     ### Spliting each row with the ',' delimiter
    int_field = []                     ### Initializing and resetting an empty list to store str to int columns
    for sf in string_fields:           ### Looping through the 5 columns of string data
        int_sf = int(sf)               ### Converting the column string data to integers   
        int_field.append(int_sf)       ### Building a new row of strings to ints   
    final_data.append(int_field)       ### Adding the completed row of strings to ints to final_list

### Displaying First Few Rows of data

In [12]:
final_data[0:5]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053]]

### Confirming data are integers

In [13]:
type(final_data[0][3])

int

### Create a Function that Opens a File and Manipulates Data into a List of Lists

In [14]:
def Read_Csv(filename):
    
    final_data = []
    
    data = open(filename, 'r').read().split('\r')[1:] ### Reading in file and removing header
    for row in data:                          ### Looping through rows of data
        string_fields = row.split(',')        ### Spliting each row with the ',' delimiter
        int_field = []                        ### Initializing and resetting an empty list to store str to int columns
        for sf in string_fields:              ### Looping through the 5 columns of string data
            int_sf = int(sf)                  ### Converting the column string data to integers   
            int_field.append(int_sf)          ### Building a new row of strings to ints   
        final_data.append(int_field)
    
    return final_data

### Displaying the First Few Lines of Data

In [15]:
Read_Csv('US_births_1994-2003_CDC_NCHS.csv')[0:5]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053]]

### Creating a Function to Calculate the Number of Births Per Month Using For a Loop and Dictionary

In [16]:
def month_births(lizt):                         ### Function takes in a list
    births_per_month = {}                       ### Initializing an empty dictionary to count births per month
    for row in lizt:                            ### Looping through rows
        if row[1] in births_per_month:          ### If the month is already in the dictionary key, then
            births_per_month[row[1]] += row[4]  ### add the births of that day into that month key
        else:
            births_per_month[row[1]] = row[4]   ### else assign the births values that day to the month key
            
    return births_per_month                     ### return the month_births dictionary

### Total Births Per Month Dictionary...the Key is the Month. The Value is the number of Births that Month

In [17]:
cdc_months_birth = month_births(final_data)
cdc_months_birth

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

### Creating a Function To Calculate the Number of Births Per Day of Week

In [18]:
def dow_births(lizt):                           ### Function takes in a list
    dow_births = {}                             ### Initializing an empty dictionary to count day of week births
    for row in lizt:                            ### Looping through rows
        if row[3] in dow_births:                ### If the day of week is already in the dictionary key, then
            dow_births[row[3]] += row[4]        ### add the births of that day into that day of week key
        else:
            dow_births[row[3]] = row[4]         ### else assign the births values to that day to the week key
            
    return dow_births

### Total Births Per Day of Week Dictionary...the Key is the Day of the Week. The value is the Number Births

In [19]:
cdc_day_births = dow_births(final_data)
cdc_day_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

### Creating a More Flexible Function To Group Births Per Unit of Time By

In [20]:
def calc_count(data, column):                    ### data is 4 time columns and 1 births column, column is the column number
    column_births = {}                           ### column births is the dictionary by which to group by
    for row in data:                             ### looping through rows
        if row[column] in column_births:         ### Using the column number as the keys to the dictionary
            column_births[row[column]] += row[4] ### if the column is in the dict.keys then add the births
        else:
            column_births[row[column]] = row[4]  ### if the column isn't in the dict.keys assign the births value
    
    return column_births                         ### return the column birth dictionary

### Using the Calc_count Function to Calculate Births Per Year

In [21]:
calc_count(final_data, 0)

{1994: 3952767,
 1995: 3899589,
 1996: 3891494,
 1997: 3880894,
 1998: 3941553,
 1999: 3959417,
 2000: 4058814,
 2001: 4025933,
 2002: 4021726,
 2003: 4089950}

### Using the Calc_count Function to Calculate Births Per Month

In [22]:
calc_count(final_data, 1)

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

### Using the Calc_count Function to Calculate Births Per Date of Month

In [23]:
calc_count(final_data, 2)

{1: 1276557,
 2: 1288739,
 3: 1304499,
 4: 1288154,
 5: 1299953,
 6: 1304474,
 7: 1310459,
 8: 1312297,
 9: 1303292,
 10: 1320764,
 11: 1314361,
 12: 1318437,
 13: 1277684,
 14: 1320153,
 15: 1319171,
 16: 1315192,
 17: 1324953,
 18: 1326855,
 19: 1318727,
 20: 1324821,
 21: 1322897,
 22: 1317381,
 23: 1293290,
 24: 1288083,
 25: 1272116,
 26: 1284796,
 27: 1294395,
 28: 1307685,
 29: 1223161,
 30: 1202095,
 31: 746696}

### Using the Calc_count Function  to Calculate Births Per Day of Week

In [24]:
calc_count(final_data, 3)

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

### Creating a Function to Calculate the Minimum and Maximum Value in a Dictionary

In [25]:
def find_min_max(dictionary):                ### Function to calculate min or max of a dictionary
    min = None                               ### initializing min and max variables to None
    max = None
    for key, value in dictionary.items():    ### Looping through dictionary keys and values
        if min is None:                      ### assigning first value to min and max
            min = value
        if max is None:
            max = value
        if value < min:                      ### Evaluating each value and comparing to min and max current values
            min = value                      ### If new value is less than min assign min the new value
        if value > max:                      ### If new value is greater than max assign max the new value
            max = value
    return min, max

### Printing Out Births Per Week

In [26]:
calc_count(final_data, 3)

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

### Using Find_min_max Function to Find The Min and Max Births Per Day From Calc_count Function

In [27]:
min, max = find_min_max(calc_count(final_data, 3))

In [28]:
min

4079723

In [29]:
max

6446196

### Displaying First Few Lines of Final List Data

In [30]:
final_data[0:5]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053]]

### Creating a Function That Compares Births Per Unit of Time Over Two Different Years

In [31]:
def year_2_year(lizt, year1, year2, column, time):    ### Input final_list, year1, year2, column, column value
    
    if column == 1:                                   ### If the unit of time is month and not day of week or day
        month1 = 0                                    ### day of month, then the total births per month are summed
        month2 = 0                                    ### 
        for row in lizt:
            if ((row[0] == year1) and (row[1] == time)):
                month1 += row[4]
            if ((row[0] == year2) and (row[1] == time)):
                month2 += row[4]
        return month1, month2
    
    if column == 2:
        month_day_1 = 0
        month_day_2 = 0
        for row in lizt:
            if ((row[0] == year1) and (row[2] == time)):
                month_day_1 += row[4]
            if ((row[0] == year2) and (row[2] == time)):
                month_day_2 += row[4]
                
        return month_day_1, month_day_2
      
    if column == 3:
        weekday1 = 0
        weekday2 = 0
        for row in lizt:                                   ### Looping over list. Selecting births for matching unit of 
            if ((row[0] == year1) and (row[3] == time)):   ### time between the consecutive years and assigning births
                weekday1 += row[4]                         ### to first_year and second_year
            if ((row[0] == year2) and (row[3] == time)):
                weekday2 += row[4] 
            
        return weekday1, weekday2                         ### returning first_year, second_year as a tuple

### Difference of Births from July 1995 and July 2003

In [32]:
july_1995, july_2003 = year_2_year(final_data, year1 = 1995, year2 = 2003, column = 1, time = 7 )

In [33]:
july_1995

340873

In [34]:
july_2003

364226

### Difference of Births On Saturdays from 1998 Compared to 2001

In [35]:
saturday_1998, saturday_2001 = year_2_year(final_data, year1 = 1998, year2 = 2001, column = 3, time = 6)

In [36]:
saturday_1998

453776

In [37]:
saturday_2001

453928

### Difference of Births on Christmas Day from 1994 to 2000

In [38]:
xmas_1994, xmas_2000 = year_2_year(final_data, year1 = 1994, year2 = 2000, column = 2, time = 2)

In [39]:
xmas_1994

128688

In [40]:
xmas_2000

127447

### Searching for US_birhths_2000-2015_SSA.csv file

In [41]:
!ls

Basics.ipynb                     US_births_1994-2003_CDC_NCHS.csv
Births.ipynb                     US_births_2000-2014_SSA.csv
README.md                        Untitled.ipynb
U.S. Births Project.ipynb

### Opening File and Importing Data

In [42]:
data2 = open('US_births_2000-2014_SSA.csv', 'r').read().split('\r')[1:]

In [43]:
data2[0:5]

['2000,1,1,6,9083',
 '2000,1,2,7,8006',
 '2000,1,3,1,11363',
 '2000,1,4,2,13032',
 '2000,1,5,3,12558']

### Looping Through Data and Separating on Commas into Rows

In [44]:
final_data_two = []

for row in data2:
    cells = row.split(',')
    word_list = []
    for cell in cells:
        word_list.append(int(cell))
    final_data_two.append(word_list)

### Displaying the First Rows of Data

In [45]:
final_data_two[0:5]

[[2000, 1, 1, 6, 9083],
 [2000, 1, 2, 7, 8006],
 [2000, 1, 3, 1, 11363],
 [2000, 1, 4, 2, 13032],
 [2000, 1, 5, 3, 12558]]

In [46]:
final_data[0:5]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053]]

### Trying to Combine Both Files Worth Of Data

In [47]:
first_rows = []
middle_rows = []
last_rows = []
final_rows = []

for index1, value1 in enumerate(final_data):
    for index2, value2 in enumerate(final_data_two):
        if value1[0] < value2[0]:
            continue
        if ((value1[0]==value2[0]) and (value1[1]==value2[1]) and (value1[2]==value2[2]) and (value1[3]==value2[3])):
            total = value1[4] + value2[4]
            new_row = [value1[0], value1[1], value1[2], value1[3], total]
            middle_rows.append(new_row)
        first_rows.append(value1)

In [48]:
middle_rows

[[2000, 1, 1, 6, 17926],
 [2000, 1, 2, 7, 15822],
 [2000, 1, 3, 1, 22486],
 [2000, 1, 4, 2, 25735],
 [2000, 1, 5, 3, 24798],
 [2000, 1, 6, 4, 24726],
 [2000, 1, 7, 5, 24796],
 [2000, 1, 8, 6, 17684],
 [2000, 1, 9, 7, 15685],
 [2000, 1, 10, 1, 23086],
 [2000, 1, 11, 2, 24934],
 [2000, 1, 12, 3, 24455],
 [2000, 1, 13, 4, 23371],
 [2000, 1, 14, 5, 24104],
 [2000, 1, 15, 6, 16890],
 [2000, 1, 16, 7, 15156],
 [2000, 1, 17, 1, 21425],
 [2000, 1, 18, 2, 24436],
 [2000, 1, 19, 3, 24488],
 [2000, 1, 20, 4, 24694],
 [2000, 1, 21, 5, 23620],
 [2000, 1, 22, 6, 17488],
 [2000, 1, 23, 7, 15568],
 [2000, 1, 24, 1, 22633],
 [2000, 1, 25, 2, 24846],
 [2000, 1, 26, 3, 24022],
 [2000, 1, 27, 4, 24544],
 [2000, 1, 28, 5, 23607],
 [2000, 1, 29, 6, 17440],
 [2000, 1, 30, 7, 15367],
 [2000, 1, 31, 1, 22015],
 [2000, 2, 1, 2, 24973],
 [2000, 2, 2, 3, 24547],
 [2000, 2, 3, 4, 23868],
 [2000, 2, 4, 5, 23863],
 [2000, 2, 5, 6, 17098],
 [2000, 2, 6, 7, 15592],
 [2000, 2, 7, 1, 23005],
 [2000, 2, 8, 2, 25470],
 [2000, 2, 9, 3, 24339],
 [2000, 2, 10, 4, 24951],
 [2000, 2, 11, 5, 24593],
 [2000, 2, 12, 6, 17510],
 [2000, 2, 13, 7, 15734],
 [2000, 2, 14, 1, 24072],
 [2000, 2, 15, 2, 25728],
 [2000, 2, 16, 3, 24760],
 [2000, 2, 17, 4, 24794],
 [2000, 2, 18, 5, 24568],
 [2000, 2, 19, 6, 17554],
 [2000, 2, 20, 7, 15706],
 [2000, 2, 21, 1, 21016],
 [2000, 2, 22, 2, 25065],
 [2000, 2, 23, 3, 24224],
 [2000, 2, 24, 4, 24583],
 [2000, 2, 25, 5, 24175],
 [2000, 2, 26, 6, 17873],
 [2000, 2, 27, 7, 15552],
 [2000, 2, 28, 1, 22670],
 [2000, 2, 29, 2, 23540],
 [2000, 3, 1, 3, 25079],
 [2000, 3, 2, 4, 24785],
 [2000, 3, 3, 5, 24510],
 [2000, 3, 4, 6, 17915],
 [2000, 3, 5, 7, 15333],
 [2000, 3, 6, 1, 22497],
 [2000, 3, 7, 2, 24553],
 [2000, 3, 8, 3, 24399],
 [2000, 3, 9, 4, 24918],
 [2000, 3, 10, 5, 24050],
 [2000, 3, 11, 6, 17479],
 [2000, 3, 12, 7, 15699],
 [2000, 3, 13, 1, 22103],
 [2000, 3, 14, 2, 25296],
 [2000, 3, 15, 3, 24542],
 [2000, 3, 16, 4, 24585],
 [2000, 3, 17, 5, 24532],
 [2000, 3, 18, 6, 17179],
 [2000, 3, 19, 7, 15405],
 [2000, 3, 20, 1, 22876],
 [2000, 3, 21, 2, 25059],
 [2000, 3, 22, 3, 24319],
 [2000, 3, 23, 4, 24564],
 [2000, 3, 24, 5, 24431],
 [2000, 3, 25, 6, 18130],
 [2000, 3, 26, 7, 15490],
 [2000, 3, 27, 1, 22342],
 [2000, 3, 28, 2, 25044],
 [2000, 3, 29, 3, 23883],
 [2000, 3, 30, 4, 23922],
 [2000, 3, 31, 5, 23458],
 [2000, 4, 1, 6, 16626],
 [2000, 4, 2, 7, 14959],
 [2000, 4, 3, 1, 22575],
 [2000, 4, 4, 2, 25320],
 [2000, 4, 5, 3, 24155],
 [2000, 4, 6, 4, 24121],
 [2000, 4, 7, 5, 24217],
 [2000, 4, 8, 6, 17326],
 [2000, 4, 9, 7, 15387],
 [2000, 4, 10, 1, 22441],
 [2000, 4, 11, 2, 25417],
 [2000, 4, 12, 3, 24786],
 [2000, 4, 13, 4, 23584],
 [2000, 4, 14, 5, 23882],
 [2000, 4, 15, 6, 17605],
 [2000, 4, 16, 7, 15584],
 [2000, 4, 17, 1, 22437],
 [2000, 4, 18, 2, 25308],
 [2000, 4, 19, 3, 24813],
 [2000, 4, 20, 4, 24356],
 [2000, 4, 21, 5, 22337],
 [2000, 4, 22, 6, 16600],
 [2000, 4, 23, 7, 14858],
 [2000, 4, 24, 1, 22418],
 [2000, 4, 25, 2, 24725],
 [2000, 4, 26, 3, 24239],
 [2000, 4, 27, 4, 24248],
 [2000, 4, 28, 5, 23774],
 [2000, 4, 29, 6, 17283],
 [2000, 4, 30, 7, 15156],
 [2000, 5, 1, 1, 23020],
 [2000, 5, 2, 2, 25626],
 [2000, 5, 3, 3, 24276],
 [2000, 5, 4, 4, 24646],
 [2000, 5, 5, 5, 24791],
 [2000, 5, 6, 6, 17503],
 [2000, 5, 7, 7, 15472],
 [2000, 5, 8, 1, 22988],
 [2000, 5, 9, 2, 25214],
 [2000, 5, 10, 3, 24949],
 [2000, 5, 11, 4, 24627],
 [2000, 5, 12, 5, 24060],
 [2000, 5, 13, 6, 17316],
 [2000, 5, 14, 7, 15112],
 [2000, 5, 15, 1, 22903],
 [2000, 5, 16, 2, 25479],
 [2000, 5, 17, 3, 25216],
 [2000, 5, 18, 4, 24916],
 [2000, 5, 19, 5, 24135],
 [2000, 5, 20, 6, 17149],
 [2000, 5, 21, 7, 15628],
 [2000, 5, 22, 1, 22947],
 [2000, 5, 23, 2, 25903],
 [2000, 5, 24, 3, 25096],
 [2000, 5, 25, 4, 25778],
 [2000, 5, 26, 5, 25229],
 [2000, 5, 27, 6, 17857],
 [2000, 5, 28, 7, 15631],
 [2000, 5, 29, 1, 16371],
 [2000, 5, 30, 2, 23653],
 [2000, 5, 31, 3, 25666],
 [2000, 6, 1, 4, 26477],
 [2000, 6, 2, 5, 25123],
 [2000, 6, 3, 6, 17716],
 [2000, 6, 4, 7, 15843],
 [2000, 6, 5, 1, 23105],
 [2000, 6, 6, 2, 25199],
 [2000, 6, 7, 3, 24691],
 [2000, 6, 8, 4, 25259],
 [2000, 6, 9, 5, 24779],
 [2000, 6, 10, 6, 18090],
 [2000, 6, 11, 7, 16077],
 [2000, 6, 12, 1, 23428],
 [2000, 6, 13, 2, 25099],
 [2000, 6, 14, 3, 25448],
 [2000, 6, 15, 4, 25326],
 [2000, 6, 16, 5, 25251],
 [2000, 6, 17, 6, 18124],
 [2000, 6, 18, 7, 16186],
 [2000, 6, 19, 1, 23074],
 [2000, 6, 20, 2, 25781],
 [2000, 6, 21, 3, 25226],
 [2000, 6, 22, 4, 25370],
 [2000, 6, 23, 5, 24967],
 [2000, 6, 24, 6, 18046],
 [2000, 6, 25, 7, 16235],
 [2000, 6, 26, 1, 24078],
 [2000, 6, 27, 2, 26457],
 [2000, 6, 28, 3, 25809],
 [2000, 6, 29, 4, 26646],
 [2000, 6, 30, 5, 26195],
 [2000, 7, 1, 6, 18591],
 [2000, 7, 2, 7, 16033],
 [2000, 7, 3, 1, 22425],
 [2000, 7, 4, 2, 18944],
 [2000, 7, 5, 3, 24424],
 [2000, 7, 6, 4, 27411],
 [2000, 7, 7, 5, 27030],
 [2000, 7, 8, 6, 19110],
 [2000, 7, 9, 7, 17021],
 [2000, 7, 10, 1, 24581],
 [2000, 7, 11, 2, 26851],
 [2000, 7, 12, 3, 25370],
 [2000, 7, 13, 4, 25664],
 [2000, 7, 14, 5, 26171],
 [2000, 7, 15, 6, 19019],
 [2000, 7, 16, 7, 16736],
 [2000, 7, 17, 1, 23929],
 [2000, 7, 18, 2, 27017],
 [2000, 7, 19, 3, 25719],
 [2000, 7, 20, 4, 26028],
 [2000, 7, 21, 5, 25794],
 [2000, 7, 22, 6, 18732],
 [2000, 7, 23, 7, 16177],
 [2000, 7, 24, 1, 24044],
 [2000, 7, 25, 2, 26119],
 [2000, 7, 26, 3, 25631],
 [2000, 7, 27, 4, 26004],
 [2000, 7, 28, 5, 25544],
 [2000, 7, 29, 6, 18768],
 [2000, 7, 30, 7, 16733],
 [2000, 7, 31, 1, 23486],
 [2000, 8, 1, 2, 26437],
 [2000, 8, 2, 3, 25324],
 [2000, 8, 3, 4, 25926],
 [2000, 8, 4, 5, 25621],
 [2000, 8, 5, 6, 18634],
 [2000, 8, 6, 7, 16551],
 [2000, 8, 7, 1, 23492],
 [2000, 8, 8, 2, 27027],
 [2000, 8, 9, 3, 26096],
 [2000, 8, 10, 4, 25647],
 [2000, 8, 11, 5, 25207],
 [2000, 8, 12, 6, 18377],
 [2000, 8, 13, 7, 16487],
 [2000, 8, 14, 1, 23565],
 [2000, 8, 15, 2, 26441],
 [2000, 8, 16, 3, 26050],
 [2000, 8, 17, 4, 25927],
 [2000, 8, 18, 5, 25963],
 [2000, 8, 19, 6, 18378],
 [2000, 8, 20, 7, 16468],
 [2000, 8, 21, 1, 23714],
 [2000, 8, 22, 2, 26578],
 [2000, 8, 23, 3, 25614],
 [2000, 8, 24, 4, 25758],
 [2000, 8, 25, 5, 25549],
 [2000, 8, 26, 6, 18534],
 [2000, 8, 27, 7, 16326],
 [2000, 8, 28, 1, 23868],
 [2000, 8, 29, 2, 26159],
 [2000, 8, 30, 3, 25916],
 [2000, 8, 31, 4, 26339],
 [2000, 9, 1, 5, 25971],
 [2000, 9, 2, 6, 18331],
 [2000, 9, 3, 7, 16328],
 [2000, 9, 4, 1, 17015],
 [2000, 9, 5, 2, 24071],
 [2000, 9, 6, 3, 27494],
 [2000, 9, 7, 4, 26706],
 [2000, 9, 8, 5, 26653],
 [2000, 9, 9, 6, 19477],
 [2000, 9, 10, 7, 16906],
 [2000, 9, 11, 1, 24496],
 [2000, 9, 12, 2, 26912],
 [2000, 9, 13, 3, 26264],
 [2000, 9, 14, 4, 27171],
 [2000, 9, 15, 5, 26797],
 [2000, 9, 16, 6, 19360],
 [2000, 9, 17, 7, 17195],
 [2000, 9, 18, 1, 24798],
 [2000, 9, 19, 2, 27383],
 [2000, 9, 20, 3, 27159],
 [2000, 9, 21, 4, 26400],
 [2000, 9, 22, 5, 26082],
 [2000, 9, 23, 6, 18798],
 [2000, 9, 24, 7, 16931],
 [2000, 9, 25, 1, 24582],
 [2000, 9, 26, 2, 26750],
 [2000, 9, 27, 3, 26604],
 [2000, 9, 28, 4, 26717],
 [2000, 9, 29, 5, 25769],
 [2000, 9, 30, 6, 18470],
 [2000, 10, 1, 7, 16732],
 [2000, 10, 2, 1, 24128],
 [2000, 10, 3, 2, 26214],
 [2000, 10, 4, 3, 25995],
 [2000, 10, 5, 4, 26231],
 [2000, 10, 6, 5, 25265],
 [2000, 10, 7, 6, 18056],
 [2000, 10, 8, 7, 16075],
 [2000, 10, 9, 1, 22365],
 [2000, 10, 10, 2, 25874],
 [2000, 10, 11, 3, 25471],
 [2000, 10, 12, 4, 25794],
 [2000, 10, 13, 5, 23191],
 [2000, 10, 14, 6, 18148],
 [2000, 10, 15, 7, 16128],
 [2000, 10, 16, 1, 23703],
 [2000, 10, 17, 2, 25911],
 [2000, 10, 18, 3, 25286],
 [2000, 10, 19, 4, 24697],
 [2000, 10, 20, 5, 24617],
 [2000, 10, 21, 6, 17721],
 [2000, 10, 22, 7, 15710],
 [2000, 10, 23, 1, 23336],
 [2000, 10, 24, 2, 25680],
 [2000, 10, 25, 3, 25243],
 [2000, 10, 26, 4, 25262],
 [2000, 10, 27, 5, 24384],
 [2000, 10, 28, 6, 17768],
 [2000, 10, 29, 7, 16078],
 [2000, 10, 30, 1, 22785],
 [2000, 10, 31, 2, 22441],
 [2000, 11, 1, 3, 25506],
 [2000, 11, 2, 4, 25800],
 [2000, 11, 3, 5, 24959],
 [2000, 11, 4, 6, 17937],
 [2000, 11, 5, 7, 15968],
 [2000, 11, 6, 1, 23382],
 [2000, 11, 7, 2, 25414],
 [2000, 11, 8, 3, 25335],
 [2000, 11, 9, 4, 25280],
 [2000, 11, 10, 5, 24854],
 [2000, 11, 11, 6, 18370],
 [2000, 11, 12, 7, 15944],
 [2000, 11, 13, 1, 22609],
 [2000, 11, 14, 2, 25929],
 [2000, 11, 15, 3, 25576],
 [2000, 11, 16, 4, 25767],
 [2000, 11, 17, 5, 25494],
 [2000, 11, 18, 6, 18043],
 [2000, 11, 19, 7, 15949],
 [2000, 11, 20, 1, 25599],
 [2000, 11, 21, 2, 27663],
 [2000, 11, 22, 3, 24458],
 [2000, 11, 23, 4, 16083],
 [2000, 11, 24, 5, 19344],
 [2000, 11, 25, 6, 16857],
 [2000, 11, 26, 7, 15743],
 [2000, 11, 27, 1, 24006],
 [2000, 11, 28, 2, 27245],
 [2000, 11, 29, 3, 25900],
 [2000, 11, 30, 4, 25291],
 [2000, 12, 1, 5, 24764],
 [2000, 12, 2, 6, 17536],
 [2000, 12, 3, 7, 15678],
 [2000, 12, 4, 1, 22677],
 [2000, 12, 5, 2, 25604],
 [2000, 12, 6, 3, 25060],
 [2000, 12, 7, 4, 25318],
 [2000, 12, 8, 5, 24811],
 [2000, 12, 9, 6, 17488],
 [2000, 12, 10, 7, 15829],
 [2000, 12, 11, 1, 23317],
 [2000, 12, 12, 2, 26816],
 [2000, 12, 13, 3, 24781],
 [2000, 12, 14, 4, 24953],
 [2000, 12, 15, 5, 25024],
 [2000, 12, 16, 6, 18165],
 [2000, 12, 17, 7, 15871],
 [2000, 12, 18, 1, 24866],
 [2000, 12, 19, 2, 27259],
 [2000, 12, 20, 3, 27153],
 [2000, 12, 21, 4, 26670],
 [2000, 12, 22, 5, 24185],
 [2000, 12, 23, 6, 16778],
 [2000, 12, 24, 7, 13772],
 [2000, 12, 25, 1, 13285],
 [2000, 12, 26, 2, 20465],
 [2000, 12, 27, 3, 26110],
 [2000, 12, 28, 4, 27432],
 [2000, 12, 29, 5, 26841],
 [2000, 12, 30, 6, 18582],
 [2000, 12, 31, 7, 15613],
 [2001, 1, 1, 1, 15100],
 [2001, 1, 2, 2, 20981],
 [2001, 1, 3, 3, 24562],
 [2001, 1, 4, 4, 25107],
 [2001, 1, 5, 5, 25074],
 [2001, 1, 6, 6, 18199],
 [2001, 1, 7, 7, 15630],
 [2001, 1, 8, 1, 22686],
 [2001, 1, 9, 2, 24491],
 [2001, 1, 10, 3, 24615],
 [2001, 1, 11, 4, 24588],
 [2001, 1, 12, 5, 25199],
 [2001, 1, 13, 6, 17483],
 [2001, 1, 14, 7, 15492],
 [2001, 1, 15, 1, 21646],
 [2001, 1, 16, 2, 24368],
 [2001, 1, 17, 3, 24390],
 [2001, 1, 18, 4, 25010],
 [2001, 1, 19, 5, 24383],
 [2001, 1, 20, 6, 17373],
 [2001, 1, 21, 7, 15518],
 [2001, 1, 22, 1, 22663],
 [2001, 1, 23, 2, 24622],
 [2001, 1, 24, 3, 24290],
 [2001, 1, 25, 4, 24886],
 [2001, 1, 26, 5, 24184],
 [2001, 1, 27, 6, 17435],
 [2001, 1, 28, 7, 15402],
 [2001, 1, 29, 1, 22782],
 [2001, 1, 30, 2, 24725],
 [2001, 1, 31, 3, 24693],
 [2001, 2, 1, 4, 24663],
 [2001, 2, 2, 5, 24658],
 [2001, 2, 3, 6, 17126],
 [2001, 2, 4, 7, 15324],
 [2001, 2, 5, 1, 23371],
 [2001, 2, 6, 2, 24783],
 [2001, 2, 7, 3, 24434],
 [2001, 2, 8, 4, 24537],
 [2001, 2, 9, 5, 24429],
 [2001, 2, 10, 6, 17428],
 [2001, 2, 11, 7, 15000],
 [2001, 2, 12, 1, 23083],
 [2001, 2, 13, 2, 24279],
 [2001, 2, 14, 3, 26081],
 [2001, 2, 15, 4, 25039],
 [2001, 2, 16, 5, 24474],
 [2001, 2, 17, 6, 17083],
 [2001, 2, 18, 7, 14977],
 [2001, 2, 19, 1, 20878],
 [2001, 2, 20, 2, 24486],
 [2001, 2, 21, 3, 24698],
 [2001, 2, 22, 4, 24716],
 [2001, 2, 23, 5, 24282],
 [2001, 2, 24, 6, 17147],
 [2001, 2, 25, 7, 15440],
 [2001, 2, 26, 1, 22405],
 [2001, 2, 27, 2, 24402],
 [2001, 2, 28, 3, 24130],
 [2001, 3, 1, 4, 24793],
 [2001, 3, 2, 5, 24511],
 [2001, 3, 3, 6, 17696],
 [2001, 3, 4, 7, 15474],
 [2001, 3, 5, 1, 22593],
 [2001, 3, 6, 2, 24391],
 [2001, 3, 7, 3, 24445],
 [2001, 3, 8, 4, 24634],
 [2001, 3, 9, 5, 24703],
 [2001, 3, 10, 6, 17486],
 [2001, 3, 11, 7, 15261],
 [2001, 3, 12, 1, 22961],
 [2001, 3, 13, 2, 24807],
 [2001, 3, 14, 3, 24945],
 [2001, 3, 15, 4, 24811],
 [2001, 3, 16, 5, 24708],
 [2001, 3, 17, 6, 17856],
 [2001, 3, 18, 7, 14925],
 [2001, 3, 19, 1, 22451],
 [2001, 3, 20, 2, 25442],
 [2001, 3, 21, 3, 25084],
 [2001, 3, 22, 4, 24734],
 [2001, 3, 23, 5, 24645],
 [2001, 3, 24, 6, 17513],
 [2001, 3, 25, 7, 15489],
 [2001, 3, 26, 1, 22332],
 [2001, 3, 27, 2, 24898],
 [2001, 3, 28, 3, 24644],
 [2001, 3, 29, 4, 24532],
 [2001, 3, 30, 5, 23914],
 [2001, 3, 31, 6, 17351],
 [2001, 4, 1, 7, 14249],
 [2001, 4, 2, 1, 23103],
 [2001, 4, 3, 2, 25442],
 [2001, 4, 4, 3, 25064],
 [2001, 4, 5, 4, 24671],
 [2001, 4, 6, 5, 24628],
 [2001, 4, 7, 6, 17381],
 [2001, 4, 8, 7, 15312],
 [2001, 4, 9, 1, 22966],
 [2001, 4, 10, 2, 25776],
 [2001, 4, 11, 3, 25543],
 [2001, 4, 12, 4, 25244],
 [2001, 4, 13, 5, 21622],
 [2001, 4, 14, 6, 16364],
 [2001, 4, 15, 7, 14310],
 [2001, 4, 16, 1, 22222],
 [2001, 4, 17, 2, 25503],
 [2001, 4, 18, 3, 24532],
 [2001, 4, 19, 4, 24199],
 [2001, 4, 20, 5, 24343],
 [2001, 4, 21, 6, 17520],
 [2001, 4, 22, 7, 15401],
 [2001, 4, 23, 1, 23134],
 [2001, 4, 24, 2, 25701],
 [2001, 4, 25, 3, 25172],
 [2001, 4, 26, 4, 24869],
 [2001, 4, 27, 5, 24489],
 [2001, 4, 28, 6, 17048],
 [2001, 4, 29, 7, 15083],
 [2001, 4, 30, 1, 22606],
 [2001, 5, 1, 2, 25782],
 [2001, 5, 2, 3, 24831],
 [2001, 5, 3, 4, 24898],
 [2001, 5, 4, 5, 24338],
 [2001, 5, 5, 6, 17427],
 [2001, 5, 6, 7, 15862],
 [2001, 5, 7, 1, 23067],
 [2001, 5, 8, 2, 25783],
 [2001, 5, 9, 3, 24702],
 [2001, 5, 10, 4, 25030],
 [2001, 5, 11, 5, 24413],
 [2001, 5, 12, 6, 17229],
 [2001, 5, 13, 7, 14849],
 [2001, 5, 14, 1, 22920],
 [2001, 5, 15, 2, 25953],
 [2001, 5, 16, 3, 24998],
 [2001, 5, 17, 4, 25056],
 [2001, 5, 18, 5, 24445],
 [2001, 5, 19, 6, 17461],
 [2001, 5, 20, 7, 15329],
 [2001, 5, 21, 1, 23078],
 [2001, 5, 22, 2, 25832],
 [2001, 5, 23, 3, 25598],
 [2001, 5, 24, 4, 26111],
 [2001, 5, 25, 5, 25226],
 [2001, 5, 26, 6, 17701],
 [2001, 5, 27, 7, 14938],
 [2001, 5, 28, 1, 15803],
 [2001, 5, 29, 2, 23767],
 [2001, 5, 30, 3, 26446],
 [2001, 5, 31, 4, 25833],
 [2001, 6, 1, 5, 25103],
 [2001, 6, 2, 6, 17673],
 [2001, 6, 3, 7, 15649],
 [2001, 6, 4, 1, 22739],
 [2001, 6, 5, 2, 25084],
 [2001, 6, 6, 3, 25311],
 [2001, 6, 7, 4, 24899],
 [2001, 6, 8, 5, 24682],
 [2001, 6, 9, 6, 17360],
 [2001, 6, 10, 7, 15233],
 [2001, 6, 11, 1, 23297],
 [2001, 6, 12, 2, 26112],
 [2001, 6, 13, 3, 24444],
 [2001, 6, 14, 4, 25084],
 [2001, 6, 15, 5, 24586],
 [2001, 6, 16, 6, 17411],
 [2001, 6, 17, 7, 15329],
 [2001, 6, 18, 1, 23315],
 [2001, 6, 19, 2, 25302],
 [2001, 6, 20, 3, 25156],
 [2001, 6, 21, 4, 24938],
 [2001, 6, 22, 5, 24367],
 [2001, 6, 23, 6, 16756],
 [2001, 6, 24, 7, 15140],
 [2001, 6, 25, 1, 22938],
 [2001, 6, 26, 2, 25577],
 [2001, 6, 27, 3, 25369],
 [2001, 6, 28, 4, 25889],
 [2001, 6, 29, 5, 25605],
 [2001, 6, 30, 6, 18343],
 [2001, 7, 1, 7, 16098],
 [2001, 7, 2, 1, 24544],
 [2001, 7, 3, 2, 26445],
 [2001, 7, 4, 3, 19058],
 [2001, 7, 5, 4, 24795],
 [2001, 7, 6, 5, 26052],
 [2001, 7, 7, 6, 18901],
 [2001, 7, 8, 7, 16370],
 [2001, 7, 9, 1, 23830],
 [2001, 7, 10, 2, 26931],
 [2001, 7, 11, 3, 25716],
 [2001, 7, 12, 4, 26137],
 [2001, 7, 13, 5, 24165],
 [2001, 7, 14, 6, 18381],
 [2001, 7, 15, 7, 15969],
 [2001, 7, 16, 1, 24543],
 [2001, 7, 17, 2, 27014],
 [2001, 7, 18, 3, 26211],
 [2001, 7, 19, 4, 26324],
 [2001, 7, 20, 5, 25647],
 [2001, 7, 21, 6, 18599],
 [2001, 7, 22, 7, 16077],
 [2001, 7, 23, 1, 23935],
 [2001, 7, 24, 2, 26771],
 [2001, 7, 25, 3, 25773],
 [2001, 7, 26, 4, 25806],
 [2001, 7, 27, 5, 25118],
 [2001, 7, 28, 6, 18054],
 [2001, 7, 29, 7, 15679],
 [2001, 7, 30, 1, 24062],
 [2001, 7, 31, 2, 26121],
 [2001, 8, 1, 3, 25614],
 [2001, 8, 2, 4, 25943],
 [2001, 8, 3, 5, 25478],
 [2001, 8, 4, 6, 18136],
 [2001, 8, 5, 7, 16010],
 [2001, 8, 6, 1, 23743],
 [2001, 8, 7, 2, 26686],
 [2001, 8, 8, 3, 26069],
 [2001, 8, 9, 4, 26419],
 [2001, 8, 10, 5, 25927],
 [2001, 8, 11, 6, 18375],
 [2001, 8, 12, 7, 16391],
 [2001, 8, 13, 1, 23128],
 [2001, 8, 14, 2, 26362],
 [2001, 8, 15, 3, 26337],
 [2001, 8, 16, 4, 26498],
 [2001, 8, 17, 5, 25973],
 [2001, 8, 18, 6, 18391],
 [2001, 8, 19, 7, 15754],
 [2001, 8, 20, 1, 24343],
 [2001, 8, 21, 2, 26826],
 [2001, 8, 22, 3, 26001],
 [2001, 8, 23, 4, 26076],
 [2001, 8, 24, 5, 25732],
 [2001, 8, 25, 6, 18277],
 [2001, 8, 26, 7, 16092],
 [2001, 8, 27, 1, 23924],
 [2001, 8, 28, 2, 27257],
 [2001, 8, 29, 3, 26033],
 [2001, 8, 30, 4, 26752],
 [2001, 8, 31, 5, 26638],
 [2001, 9, 1, 6, 18338],
 [2001, 9, 2, 7, 16295],
 [2001, 9, 3, 1, 16065],
 [2001, 9, 4, 2, 24720],
 [2001, 9, 5, 3, 27785],
 [2001, 9, 6, 4, 27583],
 [2001, 9, 7, 5, 27186],
 [2001, 9, 8, 6, 18544],
 [2001, 9, 9, 7, 16531],
 [2001, 9, 10, 1, 24686],
 [2001, 9, 11, 2, 26828],
 [2001, 9, 12, 3, 25967],
 [2001, 9, 13, 4, 26043],
 [2001, 9, 14, 5, 26655],
 [2001, 9, 15, 6, 19132],
 [2001, 9, 16, 7, 16494],
 [2001, 9, 17, 1, 25076],
 [2001, 9, 18, 2, 26759],
 [2001, 9, 19, 3, 26819],
 [2001, 9, 20, 4, 27185],
 [2001, 9, 21, 5, 26375],
 [2001, 9, 22, 6, 19004],
 [2001, 9, 23, 7, 16836],
 [2001, 9, 24, 1, 24856],
 [2001, 9, 25, 2, 27758],
 [2001, 9, 26, 3, 26572],
 [2001, 9, 27, 4, 26164],
 [2001, 9, 28, 5, 26099],
 [2001, 9, 29, 6, 18286],
 [2001, 9, 30, 7, 15911],
 [2001, 10, 1, 1, 24534],
 [2001, 10, 2, 2, 26712],
 [2001, 10, 3, 3, 25812],
 [2001, 10, 4, 4, 26142],
 [2001, 10, 5, 5, 25440],
 [2001, 10, 6, 6, 17597],
 [2001, 10, 7, 7, 15365],
 [2001, 10, 8, 1, 22829],
 [2001, 10, 9, 2, 25466],
 [2001, 10, 10, 3, 25373],
 [2001, 10, 11, 4, 24872],
 [2001, 10, 12, 5, 25136],
 [2001, 10, 13, 6, 17185],
 [2001, 10, 14, 7, 15364],
 [2001, 10, 15, 1, 23043],
 [2001, 10, 16, 2, 25247],
 [2001, 10, 17, 3, 24896],
 [2001, 10, 18, 4, 24895],
 [2001, 10, 19, 5, 24480],
 [2001, 10, 20, 6, 17310],
 [2001, 10, 21, 7, 14837],
 [2001, 10, 22, 1, 23151],
 [2001, 10, 23, 2, 25467],
 [2001, 10, 24, 3, 25040],
 [2001, 10, 25, 4, 24736],
 [2001, 10, 26, 5, 24292],
 [2001, 10, 27, 6, 16750],
 [2001, 10, 28, 7, 15198],
 [2001, 10, 29, 1, 22532],
 [2001, 10, 30, 2, 24711],
 [2001, 10, 31, 3, 21514],
 [2001, 11, 1, 4, 25438],
 [2001, 11, 2, 5, 24430],
 [2001, 11, 3, 6, 17006],
 [2001, 11, 4, 7, 14925],
 [2001, 11, 5, 1, 23070],
 [2001, 11, 6, 2, 25007],
 [2001, 11, 7, 3, 24528],
 [2001, 11, 8, 4, 24752],
 [2001, 11, 9, 5, 24601],
 [2001, 11, 10, 6, 17194],
 [2001, 11, 11, 7, 15057],
 [2001, 11, 12, 1, 23093],
 [2001, 11, 13, 2, 24448],
 [2001, 11, 14, 3, 24860],
 [2001, 11, 15, 4, 25572],
 [2001, 11, 16, 5, 25687],
 [2001, 11, 17, 6, 17333],
 [2001, 11, 18, 7, 14866],
 [2001, 11, 19, 1, 25196],
 [2001, 11, 20, 2, 26855],
 [2001, 11, 21, 3, 23985],
 [2001, 11, 22, 4, 14876],
 [2001, 11, 23, 5, 18926],
 [2001, 11, 24, 6, 16016],
 [2001, 11, 25, 7, 14746],
 [2001, 11, 26, 1, 23230],
 [2001, 11, 27, 2, 26179],
 [2001, 11, 28, 3, 24723],
 [2001, 11, 29, 4, 24654],
 [2001, 11, 30, 5, 23769],
 [2001, 12, 1, 6, 16293],
 [2001, 12, 2, 7, 14601],
 [2001, 12, 3, 1, 22823],
 [2001, 12, 4, 2, 24898],
 [2001, 12, 5, 3, 24916],
 [2001, 12, 6, 4, 24080],
 [2001, 12, 7, 5, 23117],
 [2001, 12, 8, 6, 16561],
 [2001, 12, 9, 7, 14831],
 [2001, 12, 10, 1, 23000],
 [2001, 12, 11, 2, 25205],
 [2001, 12, 12, 3, 25394],
 [2001, 12, 13, 4, 24178],
 [2001, 12, 14, 5, 24548],
 [2001, 12, 15, 6, 17062],
 [2001, 12, 16, 7, 14741],
 [2001, 12, 17, 1, 24441],
 [2001, 12, 18, 2, 26957],
 [2001, 12, 19, 3, 26476],
 [2001, 12, 20, 4, 27429],
 [2001, 12, 21, 5, 26715],
 [2001, 12, 22, 6, 17941],
 [2001, 12, 23, 7, 14327],
 [2001, 12, 24, 1, 15074],
 [2001, 12, 25, 2, 13046],
 [2001, 12, 26, 3, 21775],
 [2001, 12, 27, 4, 27913],
 [2001, 12, 28, 5, 28153],
 [2001, 12, 29, 6, 18928],
 [2001, 12, 30, 7, 15519],
 [2001, 12, 31, 1, 20290],
 [2002, 1, 1, 2, 15717],
 [2002, 1, 2, 3, 21143],
 [2002, 1, 3, 4, 24599],
 [2002, 1, 4, 5, 25104],
 [2002, 1, 5, 6, 17662],
 [2002, 1, 6, 7, 15152],
 [2002, 1, 7, 1, 22919],
 [2002, 1, 8, 2, 24763],
 [2002, 1, 9, 3, 23045],
 [2002, 1, 10, 4, 24914],
 [2002, 1, 11, 5, 24324],
 [2002, 1, 12, 6, 16990],
 [2002, 1, 13, 7, 14826],
 [2002, 1, 14, 1, 22874],
 [2002, 1, 15, 2, 24470],
 [2002, 1, 16, 3, 23693],
 [2002, 1, 17, 4, 24489],
 [2002, 1, 18, 5, 24266],
 [2002, 1, 19, 6, 16735],
 [2002, 1, 20, 7, 14800],
 [2002, 1, 21, 1, 21662],
 [2002, 1, 22, 2, 24465],
 [2002, 1, 23, 3, 24222],
 [2002, 1, 24, 4, 24784],
 [2002, 1, 25, 5, 23936],
 [2002, 1, 26, 6, 16930],
 [2002, 1, 27, 7, 14897],
 [2002, 1, 28, 1, 22493],
 [2002, 1, 29, 2, 24178],
 [2002, 1, 30, 3, 24048],
 [2002, 1, 31, 4, 24046],
 [2002, 2, 1, 5, 24073],
 [2002, 2, 2, 6, 17820],
 [2002, 2, 3, 7, 14764],
 [2002, 2, 4, 1, 22588],
 [2002, 2, 5, 2, 24730],
 [2002, 2, 6, 3, 24144],
 [2002, 2, 7, 4, 24575],
 [2002, 2, 8, 5, 24667],
 [2002, 2, 9, 6, 17295],

In [51]:
    final_rows.append(value1)
        if ((value1[0]==value2[0]) and (value1[1]==value2[1]) and (value1[2]==value2[2]) and (value1[3]==value2[3])):
            total = value1[4] + value2[4]
            new_row = [value1[0], value1[1], value1[2], value1[3], total]
            final_rows.append(new_row)

IndentationError: unexpected indent (<ipython-input-51-fcd2d5af74e4>, line 2)

In [ ]:
!git add "U.S. Births Project.ipynb"

In [ ]:
!git commit -m "Combining Data Commit"

In [50]:
!git push origin master

Everything up-to-date