# Exploring U.S. Births Project

### Checking directory for files

In [1]:
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
!ls

Basics.ipynb                     US_births_1994-2003_CDC_NCHS.csv
Births.ipynb                     US_births_2000-2014_SSA.csv
README.md                        Untitled.ipynb
U.S. Births Project.ipynb

### Reading US Births File in as a String To Data Variable

In [3]:
f = open('US_births_1994-2003_CDC_NCHS.csv', 'r')

In [4]:
data = f.read()

In [5]:
data[0:100]

'year,month,date_of_month,day_of_week,births\r1994,1,1,6,8096\r1994,1,2,7,7772\r1994,1,3,1,10142\r1994,1,'

### Splitting Data String on New Line Character '\n' or '\r'

In [6]:
data = data.split('\r')

### The Columns in this Data Set are Year, Month, Day of Month, Day of Week, and Births

### Displaying First Few Lines of Data

In [7]:
data[0:5]

['year,month,date_of_month,day_of_week,births',
 '1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248']

### Removing the Header Row

In [8]:
data = data[1:]

### Displaying Data without the Header

In [9]:
data[0:5]

['1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053']

### Initializing an Empty List

In [10]:
final_data = []                        ### Initializing an empty list to contain all rows from data as integers

### Splitting Rows into Integer Column Data Using For Loop, the .split and .append Commands

In [11]:
for row in data:                       ### Looping through rows of data
    string_fields = row.split(',')     ### Spliting each row with the ',' delimiter
    int_field = []                     ### Initializing and resetting an empty list to store str to int columns
    for sf in string_fields:           ### Looping through the 5 columns of string data
        int_sf = int(sf)               ### Converting the column string data to integers   
        int_field.append(int_sf)       ### Building a new row of strings to ints   
    final_data.append(int_field)       ### Adding the completed row of strings to ints to final_list

### Displaying First Few Rows of data

In [12]:
final_data[0:5]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053]]

### Confirming data are integers

In [13]:
type(final_data[0][3])

int

### Create a Function that Opens a File and Manipulates Data into a List of Lists

In [14]:
def Read_Csv(filename):
    
    final_data = []
    
    data = open(filename, 'r').read().split('\r')[1:] ### Reading in file and removing header
    for row in data:                          ### Looping through rows of data
        string_fields = row.split(',')        ### Spliting each row with the ',' delimiter
        int_field = []                        ### Initializing and resetting an empty list to store str to int columns
        for sf in string_fields:              ### Looping through the 5 columns of string data
            int_sf = int(sf)                  ### Converting the column string data to integers   
            int_field.append(int_sf)          ### Building a new row of strings to ints   
        final_data.append(int_field)
    
    return final_data

### Displaying the First Few Lines of Data

In [15]:
Read_Csv('US_births_1994-2003_CDC_NCHS.csv')[0:5]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053]]

### Creating a Function to Calculate the Number of Births Per Month Using For a Loop and Dictionary

In [16]:
def month_births(lizt):                         ### Function takes in a list
    births_per_month = {}                       ### Initializing an empty dictionary to count births per month
    for row in lizt:                            ### Looping through rows
        if row[1] in births_per_month:          ### If the month is already in the dictionary key, then
            births_per_month[row[1]] += row[4]  ### add the births of that day into that month key
        else:
            births_per_month[row[1]] = row[4]   ### else assign the births values that day to the month key
            
    return births_per_month                     ### return the month_births dictionary

### Total Births Per Month Dictionary...the Key is the Month. The Value is the number of Births that Month

In [17]:
cdc_months_birth = month_births(final_data)
cdc_months_birth

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

### Creating a Function To Calculate the Number of Births Per Day of Week

In [18]:
def dow_births(lizt):                           ### Function takes in a list
    dow_births = {}                             ### Initializing an empty dictionary to count day of week births
    for row in lizt:                            ### Looping through rows
        if row[3] in dow_births:                ### If the day of week is already in the dictionary key, then
            dow_births[row[3]] += row[4]        ### add the births of that day into that day of week key
        else:
            dow_births[row[3]] = row[4]         ### else assign the births values to that day to the week key
            
    return dow_births

### Total Births Per Day of Week Dictionary...the Key is the Day of the Week. The value is the Number Births

In [19]:
cdc_day_births = dow_births(final_data)
cdc_day_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

### Creating a More Flexible Function To Group Births Per Unit of Time By

In [20]:
def calc_count(data, column):                    ### data is 4 time columns and 1 births column, column is the column number
    column_births = {}                           ### column births is the dictionary by which to group by
    for row in data:                             ### looping through rows
        if row[column] in column_births:         ### Using the column number as the keys to the dictionary
            column_births[row[column]] += row[4] ### if the column is in the dict.keys then add the births
        else:
            column_births[row[column]] = row[4]  ### if the column isn't in the dict.keys assign the births value
    
    return column_births                         ### return the column birth dictionary

### Using the Calc_count Function to Calculate Births Per Year

In [21]:
calc_count(final_data, 0)

{1994: 3952767,
 1995: 3899589,
 1996: 3891494,
 1997: 3880894,
 1998: 3941553,
 1999: 3959417,
 2000: 4058814,
 2001: 4025933,
 2002: 4021726,
 2003: 4089950}

### Using the Calc_count Function to Calculate Births Per Month

In [22]:
calc_count(final_data, 1)

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

### Using the Calc_count Function to Calculate Births Per Date of Month

In [23]:
calc_count(final_data, 2)

{1: 1276557,
 2: 1288739,
 3: 1304499,
 4: 1288154,
 5: 1299953,
 6: 1304474,
 7: 1310459,
 8: 1312297,
 9: 1303292,
 10: 1320764,
 11: 1314361,
 12: 1318437,
 13: 1277684,
 14: 1320153,
 15: 1319171,
 16: 1315192,
 17: 1324953,
 18: 1326855,
 19: 1318727,
 20: 1324821,
 21: 1322897,
 22: 1317381,
 23: 1293290,
 24: 1288083,
 25: 1272116,
 26: 1284796,
 27: 1294395,
 28: 1307685,
 29: 1223161,
 30: 1202095,
 31: 746696}

### Using the Calc_count Function  to Calculate Births Per Day of Week

In [24]:
calc_count(final_data, 3)

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

### Creating a Function to Calculate the Minimum and Maximum Value in a Dictionary

In [25]:
def find_min_max(dictionary):                ### Function to calculate min or max of a dictionary
    min = None                               ### initializing min and max variables to None
    max = None
    for key, value in dictionary.items():    ### Looping through dictionary keys and values
        if min is None:                      ### assigning first value to min and max
            min = value
        if max is None:
            max = value
        if value < min:                      ### Evaluating each value and comparing to min and max current values
            min = value                      ### If new value is less than min assign min the new value
        if value > max:                      ### If new value is greater than max assign max the new value
            max = value
    return min, max

### Printing Out Births Per Week

In [26]:
calc_count(final_data, 3)

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

### Using Find_min_max Function to Find The Min and Max Births Per Day From Calc_count Function

In [27]:
min, max = find_min_max(calc_count(final_data, 3))

In [28]:
min

4079723

In [29]:
max

6446196

### Displaying First Few Lines of Final List Data

In [30]:
final_data[0:5]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053]]

### Creating a Function That Compares Births Per Unit of Time Over Two Different Years

In [31]:
def year_2_year(lizt, year1, year2, column, time):    ### Input final_list, year1, year2, column, column value
    
    if column == 1:                                   ### If the unit of time is month and not day of week or day
        month1 = 0                                    ### day of month, then the total births per month are summed
        month2 = 0                                    ### 
        for row in lizt:
            if ((row[0] == year1) and (row[1] == time)):
                month1 += row[4]
            if ((row[0] == year2) and (row[1] == time)):
                month2 += row[4]
        return month1, month2
    
    if column == 2:
        month_day_1 = 0
        month_day_2 = 0
        for row in lizt:
            if ((row[0] == year1) and (row[2] == time)):
                month_day_1 += row[4]
            if ((row[0] == year2) and (row[2] == time)):
                month_day_2 += row[4]
                
        return month_day_1, month_day_2
      
    if column == 3:
        weekday1 = 0
        weekday2 = 0
        for row in lizt:                                   ### Looping over list. Selecting births for matching unit of 
            if ((row[0] == year1) and (row[3] == time)):   ### time between the consecutive years and assigning births
                weekday1 += row[4]                         ### to first_year and second_year
            if ((row[0] == year2) and (row[3] == time)):
                weekday2 += row[4] 
            
        return weekday1, weekday2                         ### returning first_year, second_year as a tuple

### Difference of Births from July 1995 and July 2003

In [32]:
july_1995, july_2003 = year_2_year(final_data, year1 = 1995, year2 = 2003, column = 1, time = 7 )

In [33]:
july_1995

340873

In [34]:
july_2003

364226

### Difference of Births On Saturdays from 1998 Compared to 2001

In [35]:
saturday_1998, saturday_2001 = year_2_year(final_data, year1 = 1998, year2 = 2001, column = 3, time = 6)

In [36]:
saturday_1998

453776

In [37]:
saturday_2001

453928

### Difference of Births on Christmas Day from 1994 to 2000

In [38]:
xmas_1994, xmas_2000 = year_2_year(final_data, year1 = 1994, year2 = 2000, column = 2, time = 2)

In [39]:
xmas_1994

128688

In [40]:
xmas_2000

127447

### Searching for US_birhths_2000-2015_SSA.csv file

In [41]:
!ls

Basics.ipynb                     US_births_1994-2003_CDC_NCHS.csv
Births.ipynb                     US_births_2000-2014_SSA.csv
README.md                        Untitled.ipynb
U.S. Births Project.ipynb

### Opening File and Importing Data

In [42]:
data2 = open('US_births_2000-2014_SSA.csv', 'r').read().split('\r')[1:]

In [43]:
data2[0:5]

['2000,1,1,6,9083',
 '2000,1,2,7,8006',
 '2000,1,3,1,11363',
 '2000,1,4,2,13032',
 '2000,1,5,3,12558']

### Looping Through Data and Separating on Commas into Rows

In [44]:
final_data_two = []

for row in data2:
    cells = row.split(',')
    word_list = []
    for cell in cells:
        word_list.append(int(cell))
    final_data_two.append(word_list)

### Displaying the First Rows of Data

In [45]:
final_data_two[0:5]

[[2000, 1, 1, 6, 9083],
 [2000, 1, 2, 7, 8006],
 [2000, 1, 3, 1, 11363],
 [2000, 1, 4, 2, 13032],
 [2000, 1, 5, 3, 12558]]

In [46]:
final_data[0:5]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053]]

### Trying to Combine Both Files Worth Of Data

In [54]:
first_rows = []
middle_rows = []
last_rows = []
final_rows = []

for index1, value1 in enumerate(final_data):
    for index2, value2 in enumerate(final_data_two):
        if value1[0] < value2[0]:
            continue
        if ((value1[0]==value2[0]) and (value1[1]==value2[1]) and (value1[2]==value2[2]) and (value1[3]==value2[3])):
            total = value1[4] + value2[4]
            new_row = [value1[0], value1[1], value1[2], value1[3], total]
            middle_rows.append(new_row)
        first_rows.append(value1)

In [55]:
middle_rows[0:5]

[[2000, 1, 1, 6, 17926],
 [2000, 1, 2, 7, 15822],
 [2000, 1, 3, 1, 22486],
 [2000, 1, 4, 2, 25735],
 [2000, 1, 5, 3, 24798]]

In [56]:
final_rows.append(value1)
if ((value1[0]==value2[0]) and (value1[1]==value2[1]) and (value1[2]==value2[2]) and (value1[3]==value2[3])):
    total = value1[4] + value2[4]
    new_row = [value1[0], value1[1], value1[2], value1[3], total]
    final_rows.append(new_row)

In [57]:
!git add "U.S. Births Project.ipynb"

In [58]:
!git commit -m "Combining Data Commit"

[master fa676b9] Combining Data Commit
 1 file changed, 178 insertions(+), 100 deletions(-)

In [59]:
!git push origin master

Counting objects: 3, done.
Delta compression using up to 8 threads.
Compressing objects: 100% (3/3), done.
Writing objects: 100% (3/3), 1.45 KiB | 1.45 MiB/s, done.
Total 3 (delta 2), reused 0 (delta 0)
remote: Resolving deltas: 100% (2/2), completed with 2 local objects.
To https://github.com/FightingInertia/Exporing-U.S.-Births-Project.git
   5b82d6b..fa676b9  master -> master